<div class="container">
    <div class="row mt-3" style="text-align: center;">
        <div class="col-3">
            <button routerLink="/calcular-media" routerLinkActive="active" style="background-color: rgb(146, 224, 224); font-weight: bold; border-color: black;">1. Calcular Média</button>
        </div>
        <div class="col-3">
            <button routerLink="/calculadora" routerLinkActive="active" style="background-color: rgb(146, 224, 224); font-weight: bold; border-color: black;">2. Calculadora</button>
        </div>
        <div class="col-3">
            <button routerLink="/cadastro-aluno" routerLinkActive="active" style="background-color: rgb(146, 224, 224); font-weight: bold; border-color: black;">3. Cadastro de Aluno</button>
        </div>
        <div class="col-3">
            <button routerLink="/apolice-de-seguro" routerLinkActive="active" style="background-color: rgb(146, 224, 224); font-weight: bold; border-color: black;">4. Apólice de Seguro</button>
        </div>   
    </div>
</div>