<div class="container">
  <div class="row mt-5">
    <h2>1. Calcular Média</h2>
  </div>

  <div class="row mt-3">
    <div class="col-md-3">
      <label class="form-label"><strong>AC1:</strong></label>
      <input [(ngModel)]="ac1" type="number" class="form-control" />
    </div>
    <div class="col-md-3">
      <label class="form-label"><strong>AC2:</strong></label>
      <input [(ngModel)]="ac2" type="number" class="form-control" />
    </div>
    <div class="col-md-3">
      <label class="form-label"><strong>AG:</strong></label>
      <input [(ngModel)]="ag" type="number" class="form-control" />
    </div>
    <div class="col-md-3">
      <label class="form-label"><strong>AF:</strong></label>
      <input [(ngModel)]="af" type="number" class="form-control" />
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12" style="text-align: center;">
      <button class="btn btn-primary" (click)="calcular_media()">Calcular</button>
    </div>
  </div>

  <div class="row mt-5" *ngIf="click" style="text-align: center;">
    <p><strong>Média:</strong> {{media}}</p>
    <div *ngIf="aprovacao">
      <div class="alert alert-success" role="alert">Aprovado ✓</div>
    </div>
    <div *ngIf="!aprovacao">
      <div class="alert alert-danger" role="alert">Reprovado 🛇</div>
    </div>
    
</div>